@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: rgb(2, 48, 118);
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid  rgb(2, 48, 118);
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color:  rgb(2, 48, 118);
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color:  rgb(2, 48, 118);
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(2, 48, 118);
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
    background-size: cover;
    background-position: top center;
    background-image: url('img/teste.png');
    position: relative;
    z-index: 1;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	background-image: url('img/teste.png');
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
	
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color:  rgb(2, 48, 118);
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */


/* Projects section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* Add this to your existing CSS styles */
#projects .btn-github {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

#projects .btn-github i {
    margin-left: 10px;
}

#projects .btn-github:hover {
    background-color: #555;
}

/* End Projects section */

/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 20px;
}
#about .col-right .cta {
	color: black;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid rgb(2, 48, 118);
	z-index: -1;
}
/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color:  rgb(2, 48, 118);
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */



	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid  rgb(2, 48, 118);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

/* Style de la section de contact */
#contact {
    background-color: #f5f5f5;
    padding: 60px 0;
    text-align: center;
}

/* Style du titre de la section */
#contact .section-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
}

/* Style du conteneur des éléments de contact */
.contact-items {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style de chaque élément de contact */
.contact-item {
    margin: 0 20px;
    text-align: left;
}

/* Style des liens de contact */
.contact-item h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
}

/* Style des liens de contact au survol */
.contact-item p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}

/* Style des liens des médias sociaux */
.contact-item a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #007bff;
    text-decoration: none;
    margin: 10px 0;
    transition: color 0.3s;
}

/* Style des liens des médias sociaux au survol */
.contact-item a:hover {
    color: #ff4500; /* Couleur de survol */
}

/* Style des icônes des médias sociaux */
.contact-item i {
    margin-right: 8px;
    font-size: 1.8rem;
}

	
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* Style de la section experience */
.experience-section {
	background-color: #f8f8f8;
	padding: 50px 0; 
  }
  
  .experience-item {
	margin-bottom: 40px;
	background-color: white; 
	padding: 20px;
	border-radius: 8px; 
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  /* Centrer le titre au début */
  .section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
  }
  
  /* Ajustements pour les compétences */
  .skill-progress {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  }
  
  .skill {
	width: 48%;
  }
  
  /* Styles pour la barre de compétences */
  .progress-bar {
	height: 20px;
	background-color: #f0f0f0;
	position: relative;
	overflow: hidden;
	border-radius: 5px; 
	margin-bottom: 10px;
  }
  
  .progress-bar:before {
	content: attr(data-width);
	display: block;
	height: 100%;
	width: 0;
	background-color: #0a3754;
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	text-align: center;
	line-height: 20px;
	transition: width 1s ease-in-out;
  }
  
  
  /* Animation de la barre de compétences */
  .progress-bar:hover:before {
	width: 100%;
  }
  
  /* Ajustez le style du texte dans la barre de compétences */
  .progress-value {
	color: #fff;
  }
  
  .skill-name {
	display: inline-block;
	margin-right: 10px;
	font-weight: bold;
  }
  
  .experience-item h2 {
	text-decoration: underline;
	margin-bottom: 15px; 
	text-align: center;
  }
  
  
  /* fin experience */
  

/* Style hobbies */
#hobbies {
	background-color: #f0f0f0;
	padding: 50px 0;
  }
  
  #hobbies h1 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 2.5em; /* Augmentez la taille du titre */
	color: #333; /* Couleur du texte */
  }
  
  #hobbies .hobbies-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
  }
  
  #hobbies .slider {
	display: flex;
	justify-content: center; /* Centrer les cartes horizontalement */
	flex-wrap: wrap; /* Permettre aux cartes de passer à la ligne si nécessaire */
  }
  
  #hobbies .cards-sld {
	position: relative;
	width: 300px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	margin-right: 20px;
	margin-bottom: 20px; /* Espacement entre les cartes */
	background-color: #08334f; /* Couleur de fond */
  }
  
  #hobbies .cards-sld:hover {
	transform: scale(1.05);
  }
  
  #hobbies .cards-sld img {
	width: 100%;
	height: auto;
	max-width: 100%;
	border-radius: 10px 10px 0 0;
  }
  
  #hobbies .cards-sld .description {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	background: linear-gradient(to bottom, rgba(52, 152, 219, 0) 0%, rgba(0, 0, 0, 0.7) 100%); /* Fond transparent avec une légère teinte bleue */
	color: #fff; /* Couleur du texte */
  }
  
  #hobbies .cards-sld:hover .description {
	opacity: 1;
  }
  
  #hobbies .cards-sld h3,
  #hobbies .cards-sld p {
	margin: 0;
	font-size: 1.5em; /* Augmentez la taille du texte */
	color: #fff;
  }
  
  #hobbies .cards-sld p {
	margin-bottom: 10px;
  }
  
  #hobbies .cards-sld a {
	display: inline-block;
	padding: 10px 15px;
	background-color: #fff;
	color: #033353; /* Couleur du texte */
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;
  }
  
  #hobbies .cards-sld a:hover {
	background-color: #2980b9;
	color: #fff;
  }
  